.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh repeat(2, 15vh);
    grid-gap: 15px;

}

.banner-amarelo{
    grid-area: 1/1/2/4;
}

.banner-laranja{
    grid-area: 2/2/4/4;
}

@media (min-width:720px){
    .banner{
        display: grid;
        grid-template-columns: 1fr .5fr .5fr;
        grid-template-rows: repeat(2, 15vh);
        grid-gap: 25px;
    
    }

    .banner-amarelo{
        grid-area: 1/1/3/2;
    }

    .banner-laranja{
        grid-area: 1/3/3/4;
    }
}

@media (min-width:1440px){
    .banner{
        grid-template-rows: repeat(2, 25vh);
    
    }

}

